body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

/* POPUP INICIAL */
.popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-box {
    background: #fff;
    padding: 25px;
    width: 85%;
    max-width: 380px;
    border-radius: 15px;
    text-align: center;
}

.popup-box h2 {
    margin-top: 0;
}

.popup-box input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

header {
    background: #4a8df8;
    padding: 15px;
    text-align: center;
    color: white;
}

button {
    padding: 15px;
    width: 90%;
    margin: 10px auto;
    font-size: 18px;
    display: block;
    border-radius: 10px;
    border: none;
    background: #4a8df8;
    color: white;
}

#listaComprobantes {
    padding: 10px;
}

.comprobante {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

textarea {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 5px;
    display: none;
}

/* MODAL QR */
.modal {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.6);
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin: 50px auto;
    text-align: center;
}
